<div class="container">
  <h2>クイズ編集</h2>
<div class="card bg-light shadow p-4">
  <%= form_with model: @quiz, url: public_quiz_path(@quiz), method: :patch, local: true do |form| %>
    <div class="mb-3">
      <%= form.label :question_text, "問題文" %>
      <%= form.text_area :question_text, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :choice_1, "選択肢1" %>
      <%= form.text_field :choice_1, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :choice_2, "選択肢2" %>
      <%= form.text_field :choice_2, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :genre_id, "ジャンル" %>
      <%= form.collection_select :genre_id, Genre.all, :id, :name, { prompt: "選択してください" }, class: "form-control" %>
    </div>

    <%= form.submit "更新", class: "btn btn-success w-100" %>
  <% end %>

</div>
<div class="text-center mt-3 mb-3">
  <%= link_to "戻る", "javascript:history.back()", class: "btn btn-secondary btn-lg" %>
</div>
</div>