<div class="container">
  <h2>クイズ一覧</h2>

  <%= link_to "新規作成", new_public_quiz_path, class: "btn btn-primary mb-3" %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>問題文</th>
        <th>ジャンル</th>
        <th>作成者</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @quizzes.each do |quiz| %>
        <tr>
          <td><%= quiz.question_text %></td>
          <td><%= quiz.genre.name if quiz.genre %></td>
          <td><%= quiz.creator.name %></td>
          <td><%= link_to "詳細", public_quiz_path(quiz), class: "btn btn-info btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
