<div class="container mt-4">
<h1>クイズ編集</h1>
  <div class="card bg-light shadow p-4">
  <%= form_with model: @quiz, url: admin_quiz_path(@quiz), method: :patch, local: true do |f| %>
    <div class="mb-3">
      <%= f.label :question_text, "お題" %>
      <%= f.text_area :question_text, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :choice_1, "選択肢1" %>
      <%= f.text_field :choice_1, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :choice_2, "選択肢2" %>
      <%= f.text_field :choice_2, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :genre_id, "ジャンル" %>
      <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, { prompt: "選択してください" }, class: "form-control" %>
    </div>
    <%= f.submit "更新する", class: 'btn btn-primary' %>
  <% end %>
  </div>
  <div class="text-center mt-3 mb-3">
    <%= link_to "戻る", "javascript:history.back()", class: "btn btn-secondary btn-lg" %>
  </div>
</div>