<header class="bg-danger text-white py-3">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo">
      <%= link_to "Which_one_game", root_path, class: "text-white text-decoration-none h4 mb-0" %>
    </div>
    <nav>
      <% if user_signed_in? %>
        <ul class="nav">
          <li class="nav-item"><%= link_to "マイページ", user_path(current_user), class: "nav-link text-white" %></li>
          <li class="nav-item"><%= link_to "ユーザー検索", users_path, class: "nav-link text-white" %></li>
          <li class="nav-item"><%= link_to "ゲーム開始", "#", class: "nav-link text-white" %></li>
          <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-white" %></li>
        </ul>
      <% else %>
        <ul class="nav">
          <li class="nav-item"><%= link_to "新規会員登録", new_user_registration_path, class: "nav-link text-white" %></li>
          <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link text-white" %></li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>
