<div class="container">
  <h2 class="text-primary font-weight-bold">クイズ部屋を探す</h2>
  <div class="card bg-light shadow p-4">
    <%= form_with url: join_public_quiz_rooms_path, method: :get, local: true do |form| %>
      <div class="mb-3">
        <%= form.label :room_name, "部屋の名前（完全一致で検索します）" %>
        <%= form.text_field :room_name, class: "form-control" %>
      </div>

      <%= form.submit "検索", class: "btn btn-primary w-100" %>
    <% end %>

    <% if @quiz_rooms.present? %>
      <h3 class="mt-4">検索結果</h3>
      <ul class="list-group">
        <% @quiz_rooms.each do |room| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= room.room_name %>
            <%= link_to "参加する", public_room_association_index_path(quiz_room_id: room.id), method: :post, data: { turbo: false }, class: "btn btn-success" %>
          </li>
        <% end %>
      </ul>
    <% elsif params[:room_name].present? %>
      <p class="text-danger mt-3">該当する部屋が見つかりません。</p>
    <% end %>
  </div>
  <div class="text-center mt-3 mb-3">
    <%= link_to "戻る", "javascript:history.back()", class: "btn btn-secondary btn-lg" %>
  </div>
</div>