<div class="container">
  <h2 class="text-primary font-weight-bold"><%= @quiz_room.room_name %></h2>

  <h4 class="mt-4">出題者:</h4>
    <% if @quiz_room.questioner_id.present? %>
    <p><%= User.find(@quiz_room.questioner_id).name %></p>
    <% end %>
  <% if @quiz_room.owner_id == current_user.id %>
  
    <% if @quiz_room.questioner_id.present? %>
      
      <%= link_to "出題者を変更", develop_select_public_quiz_rooms_path(id: @quiz_room.id), class: "btn btn-warning" %>
    <% else %>
      <%= link_to "出題者を選ぶ", develop_select_public_quiz_rooms_path(id: @quiz_room.id), class: "btn btn-warning" %>
    <% end %>
  <% end %>

  <h4 class="mt-4">選択されたクイズ:</h4>
  <% if @quiz_room.quiz_id.present? %>
    <p><%= Quiz.find(@quiz_room.quiz_id).question_text %></p>
  <% end %>
  <% if @quiz_room.owner_id == current_user.id %>
  
    <% if @quiz_room.quiz_id.present? %>
      
      <%= link_to "クイズを変更", quiz_select_public_quiz_rooms_path(id: @quiz_room.id), class: "btn btn-warning" %>
    <% else %>
      <%= link_to "クイズを選ぶ", quiz_select_public_quiz_rooms_path(id: @quiz_room.id), class: "btn btn-warning" %>
    <% end %>
  <% end %>



<% if @quiz_room.questioner_id == current_user.id %>
  <% if @quiz_room.quiz_id.present? %>
  <div class="text-center">
  <button id="choice_1" class="btn btn-outline-primary choice-btn">
    <%= Quiz.find(@quiz_room.quiz_id).choice_1 %>
  </button>
  <button id="choice_2" class="btn btn-outline-primary choice-btn">
    <%= Quiz.find(@quiz_room.quiz_id).choice_2 %>
  </button>
  </div>
  <% else %>
    <h5 class="mt-4 text-center">クイズ未選択</h5>
  <% end %>

<% end %>

  <h4 class="mt-4">参加ユーザー:</h4>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">名前</th>
      <th scope="col">選択肢 1</th>
      <th scope="col">選択肢 2</th>
    </tr>
  </thead>
  <tbody>
    <% @participants.each do |user| %>
      <tr>
        <td>
        <%= user.name %>
        <% if @quiz_room.questioner_id == user.id %>
        <span style="color: red;">出題者</span>
        <% end %>
        </td>
        <td>
        <% if @quiz_room.quiz_id.present? %>
          <button id="choice_1_<%= user.id %>" class="btn btn-outline-primary choice-btn">
            <%= Quiz.find(@quiz_room.quiz_id).choice_1 %>
          </button>
        <% end %>
        </td>
        <td>
        <% if @quiz_room.quiz_id.present? %>
          <button id="choice_2_<%= user.id %>" class="btn btn-outline-primary choice-btn">
            <%= Quiz.find(@quiz_room.quiz_id).choice_2 %>
          </button>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if @quiz_room.owner_id == current_user.id %>
  <%= button_to "部屋を解散", public_quiz_room_path(@quiz_room), 
      method: :delete, data: { confirm: "本当に解散しますか？" }, 
      class: "btn btn-danger mt-3" %>
<% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".choice-btn").forEach(function(button) {
      button.addEventListener("click", function() {
        this.classList.toggle("btn-primary"); // 色をつける
        this.classList.toggle("btn-outline-primary"); // デフォルトの色に戻す
      });
    });
  });
</script>