<div class="container mt-4">
<h1>クイズ部屋一覧</h1>
  <div class="card bg-light shadow p-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>部屋名</th>
        <th>オーナー</th>
        <th>ステータス</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      <% @quiz_rooms.each do |room| %>
        <tr>
          <td><%= room.id %></td>
          <td><%= room.room_name %></td>
          <td><%= room.owner_id %></td>
          <td><%= room.room_status %></td>
          <td>
            <%= link_to '詳細', admin_quiz_room_path(room), class: 'btn btn-primary btn-sm' %>
            <%= link_to '編集', edit_admin_quiz_room_path(room), class: 'btn btn-warning btn-sm' %>
            <%= link_to '削除', admin_quiz_room_path(room), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>