<!DOCTYPE html>
<html>
<head>
  <title>Which_one_game</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* ページ全体の高さを確保 */
      margin: 0; /* 余白をリセット */
    }

    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000; /* ヘッダーを最前面に表示 */
    }

    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1000; /* フッターを最前面に表示 */
    }

    main {
      flex: 1; /* メインコンテンツを拡張 */
      margin-top: 70px; /* ヘッダーの高さ分余白を追加 */
      margin-bottom: 70px; /* フッターの高さ分余白を追加 */
    }

    .plain-link {
      color: inherit; /* 親要素の色を引き継ぐ */
      text-decoration: none; /* 下線を削除 */
    }

    .plain-link:hover, .plain-link:focus {
      text-decoration: none; /* ホバー時の下線も削除 */
      color: inherit; /* ホバー時の色も変更しない */
    }
  </style>
</head>
<body>
<header class="bg-danger text-white py-3">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo">
      <%= link_to "Which_one_game", root_path, class: "text-white text-decoration-none h4 mb-0" %>
    </div>
    <nav>
      <% if user_signed_in? %>
        <ul class="nav">
          <li class="nav-item"><%= link_to "マイページ", public_user_path(current_user), class: "nav-link text-white" %></li>
          <li class="nav-item"><%= link_to "ユーザー検索", search_public_users_path, class: "nav-link text-white" %></li>
          <li class="nav-item"><%= link_to "ゲーム開始", top_public_quiz_rooms_path, class: "nav-link text-white" %></li>
          <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-white" %></li>
        </ul>
      <% else %>
        <ul class="nav">
          <li class="nav-item"><%= link_to "新規会員登録", new_user_registration_path, class: "nav-link text-white" %></li>
          <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link text-white" %></li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>

<main>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-10 col-12">
      <div class="container-fluid">
  <%= yield %>
      </div>
    </div>
  </div>
</div>
</main>

<footer class="bg-primary text-white text-center py-3">
<p>&copy; 2025 Which_<a href="/admin/sign_in" class="plain-link">one</a>_game</p>
</footer>
</body>
</html>
